.main {
    background-color: #fff;
    color: #000;
    padding: 0;
}

/*form label {
    color: #fff;
}*/

/* .my-nav {
    background-color: #20232a !important;
} */

button:disabled {
    cursor: no-drop;
}
